@{
    ViewBag.Title = "Contact";
}
<h2>Informacion de contacto</h2>

<div class="row">
    <div class="col-sm-3">
        <address>
            <strong>Telefono:</strong>   <a href="https://wa.me/50687423723" target="_blank">87423723</a><br />
            <strong>Correo:</strong> <a href="mailto:info@hibiscusbarberia.com" target="_blank">info@hibiscusbarberia.com</a>
        </address>
    </div>
</div>

<div class="row">
    <div class="col-sm-3" style="margin-left: 200px;">
        <img src="~/Images/Contact1.png" style="border-radius: 30px;" />
    </div>
</div>
