@model webHibiscus.AspNetRole

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¿Seguro que quieres eliminar esté rol?</h2>

<div>
 <div>
    <div class="card table-responsive" style="border-radius: 8px;">
        <table class="table table-striped">
            <tr>
                <th>
                    <h4>
                        <b>
                             @Html.DisplayNameFor(model => model.Name)
                        </b>
                    </h4>
                </th>
                <th>
                    <h4>
                        <b>
                            @Html.DisplayFor(model => model.Name)
                        </b>
                    </h4>
                </th>
          
            </tr>           
        </table>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "AspNetRole")" class="btn btn-success">Volver atrás</a>
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            
        </div>
    }
</div>
