@model webHibiscus.AspNetRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <div class="card table-responsive" style="border-radius: 8px;">
        <table class="table table-striped">
            <tr>
                <th>
                    <h4>
                        <b>
                             @Html.DisplayNameFor(model => model.Name)
                        </b>
                    </h4>
                </th>
                <th>
                    <h4>
                        <b>
                            @Html.DisplayFor(model => model.Name)
                        </b>
                    </h4>
                </th>
          
            </tr>           
        </table>
    </div>
</div>

<p>

    
    <a class="btn btn-info" href="@Url.Action("Index", "AspNetRole")">
      Volver atras
    </a>
    <a class="btn btn-warning" href="@Url.Action("Edit", "AspNetRole", new { id = Model.Id })">
      Editar
    </a>
</p>
