@{
    ViewBag.Title = "About";
}
@*Grid system bootstrap*@
@* Card *@
<div class="container">
    <div class="row">
        <div class="card col-sm-5">
            <h2>Hibiscus Barbería & Salón</h2>
            <div>
                <p>
                    Calle 9 Anastasio Alfaro, Alajuela (Agonía),
                    Provincia de Alajuela, 125mts Sur de la
                    Iglesia Católica de La Agonía, frente a
                    Pinturas Sur, Contiguo Acuario El Disco.
                </p>
                <p>**Promedio Puntuacion**</p>
                <p>**Mas info**</p>
            </div>
        </div>

        <div class="card col-md-6" style="margin-left: 10px; width: 57%">
            <h2>IMG</h2>
            <div class="content">
                <p>
                    IMG
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm-12">
            <h2>OTHER</h2>
            <div class="content">
                <p>
                    OTHER
                </p>
            </div>
        </div>
    </div>
</div>
