@{
    ViewBag.Title = "About";
}
@* Card *@
<div class="card col-sm-3">
    <div class="container">
        <h2>Hibiscus Barbería & Salón</h2>
        <div class="content">
            <p>
                Calle 9 Anastasio Alfaro, Alajuela (Agonía),
                Provincia de Alajuela, 125mts Sur de la
                Iglesia Católica de La Agonía, frente a
                Pinturas Sur, Contiguo Acuario El Disco.
            </p>
            <p>**Promedio Puntuacion**</p>
            <p>**Mas info**</p>
        </div>
    </div>
</div>

<div class="col-sm-1"></div>

<div class="card col-sm-8">
    <div class="container">
        <h2>IMG</h2>
        <div class="content">
            <p>
                IMG
            </p>
        </div>
    </div>
</div>
<br />
<br />
