@{
    ViewBag.Title = "About";
}
@*Grid system bootstrap*@
@* Card *@
<div class="container">
    <div class="row">
        <div class="card col-sm-5">
            <h2>Hibiscus Barbería & Salón</h2>
            <div>
                <p>
                    Calle 9 Anastasio Alfaro, Alajuela (Agonía),
                    Provincia de Alajuela, 125mts Sur de la
                    Iglesia Católica de La Agonía, frente a
                    Pinturas Sur, Contiguo Acuario El Disco.
                </p>
                <p>**Promedio Puntuacion**</p>
                <a class="btn btn-info btn-sm" href="@Url.Action("Index", "Servicios")" style="margin-left: 40%;">Servicios</a>
            </div>
        </div>

        <div class="cardimg">
            <div class="col-md-6" style="margin-left: 10px;">
                <img class="img" src="~/Images/IMG_About.png" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm-5">
            <h2>Ubicación</h2>
            <div class="content">
                <p>
                    Calle 9 Anastasio Alfaro, Alajuela (Agonía), Provincia de Alajuela
                </p>
                <a class="btn btn-success btn-sm" href="https://g.page/HibiscusBarberia?share" style="text-align: center" target="_blank">
                    <img src="~/Images/Map.png" style="height: 25px; width: 25px;" />
                    Ubicacion en Google Maps
                </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:200px">
        <div class="card col-sm-12">
            <h2>Acerca de Hibiscus Barbería & Salón</h2>
            <div>
                <p>
                    <img src="~/Images/Thunder.png" style="height: 15px; width: 15px;" />
                    Confirmación instantánea

                    <img src="~/Images/Unisex.png" style="height: 25px; width: 25px;" />
                    Unisex
                </p>

                <p>
                    "Somos una Barbería & Salón desde 2016 especializada en cortes de
                    cabello para Damas y cortes de cabello y barba para Caballeros, en
                    nuestro local podrás encontrar a las mejores mujeres barberas y un
                    ambiente sinigual, trabajamos por medio de citas a nuestro número 8742-3723."
                </p>
            </div>
        </div>
    </div>
</div>
