@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron col-sm-9">
        <h1>Hibiscus Barbería & Salón</h1>
        <p class="lead">Bienvenido a la nueva pagina de Hibiscus Barbería & Salón. La pagina aun se encuentra en desarrollo, te invitamos a ver los demas apartados dentro del menu a tu izquierda</p>
    </div>

    <div class="col-sm-3">
        <img src="~/Images/Home1.png" style="height: 300px; width: 300px;" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>
            Te invitamos a visitar nuestro instagram para que puedas dar un vistazo a nuestro trabajo. Y en caso de que te guste puedes pasar al apartado de contacto para reservar una cita.
        </p>
        <p>
            <a class="btn btn-default btn-sm" href="https://www.instagram.com/hibiscus_barberia_salon/?hl=es" style="margin-left: 40%;" target="_blank">
                <img src="~/Images/Instagram-Logo.png" style="height: 25px; width: 25px;" />
                Instagram
            </a>
        </p>
        <p><a class="btn btn-success btn-sm" href="@Url.Action("Contact", "Home")" style="margin-left: 32%;">Informacion de contacto</a></p>
    </div>

    <div class="col-md-4">
        <h2>Mas sobre nosotros</h2>
        <p>Te invitamos a conocer un poco mas sobre nosotros dandole al botón:</p>
        <p><a class="btn btn-info btn-sm" href="@Url.Action("About", "Home")" style="margin-left: 30%; margin-top: 20%;">Accerca</a></p>
    </div>

    <div class="col-md-4">
        <h2>Danos tu opicion</h2>
        <p>Si ya haz tenido un cita en nuestra barberia, te invitamos a dar tu opicion, nos ayudara a mejorar!</p>
        <p><a class="btn btn-warning btn-sm" href="@Url.Action("Create", "Resennia")" style="margin-left: 30%; margin-top: 20%;">Reseñas</a></p>
    </div>
</div>